{% extends "base.html" %}
{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 box">
          <h4>Configuration Warnings</h4>
          <div>
            <span data-feather="check"></span>&nbsp; <label>All configurations are correct.</label>
          </div>
        </div>

        <div class="col-md-6 box">
          <h4>Configuration Tips</h4>
          <div>
            <span data-feather="frown"></span>&nbsp; <label>No tips found for your configurations.</label>
          </div>
        </div>
      </div>
    </div>
  </main>

{% endblock %} 

{% block js_content %}

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

{% endblock %}