{% extends "base.html" %}
{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Your Profile</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 box">
          <h4>Information</h4>
          <div class="row">
            <div class="form-group col-md-2">
              <label class="form-title" for="user_id">User ID</label>
              <input type="text" class="form-control" id="user_id" disabled="disabled" value="{{  session.get('user_id') }}">
            </div>

            <div class="form-group col-md-2">
              <label class="form-title" for="username">Username</label>
              <input type="text" class="form-control" id="username" disabled="disabled" value="{{  session.get('username') }}">
            </div>

            <div class="form-group col-md-2">
              <label class="form-title" for="email">E-Mail</label>
              <input type="text" class="form-control" id="email" disabled="disabled" value="{{  session.get('email') }}">
            </div>

            <div class="form-group col-md-2">
              <label class="form-title" for="first_name">First Name</label>
              <input type="text" class="form-control" id="first_name" disabled="disabled" value="{{  session.get('first_name') }}">
            </div>

            <div class="form-group col-md-2">
              <label class="form-title" for="last_name">Last Name</label>
              <input type="text" class="form-control" id="last_name" disabled="disabled" value="{{  session.get('last_name') }}">
            </div>

            <div class="form-group col-md-2">
              <label class="form-title" for="role">Role</label>
              <input type="text" class="form-control" id="role" disabled="disabled" value="{{  session.get('role') }}">
            </div>
          </div>
        </div>

        <div class="col-md-6 box">
          <h4>Change Password</h4>
          <form id="change-password-form" method="POST" action="{{ url_for('main_router.modify_user_password_func') }}">
            <div class="form-group">
              <input type="password" class="form-control" name="current_password" placeholder="Current passwrod">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="new_password" placeholder="New passwrod">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="confirm_new_password" placeholder="Confirm new password">
            </div>
          </form>
          <button type="button" class="btn btn-info" style="width: 100%;" onclick="modify_user_password('change-password-form')">Change Now</button>
        </div>
    </div>
  </main>

{% endblock %} 

{% block js_content %}

  <script type="text/javascript" src="/static/frontend/js/custom_js/main.profile.js"></script>

{% endblock %}