{% extends "base.html" %}
{% block css_content %}

  <link rel="stylesheet" type="text/css" href="/static/frontend/datatables/datatables.min.css">

{% endblock %}

{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">System Events</h1>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table id="system-events-table" class="table table-hover" style="width:100%">
          <thead class="thead-dark">
              <tr>
                  <th>Event ID</th>
                  <th>Event Type</th>
                  <th>Event</th>
                  <th>Event Seen</th>
                  <th>Event Timestamp</th>
              </tr>
          </thead>
        </table>
      </div>
    </div>

  </main>

{% endblock %} 

{% block js_content %}

  <script type="text/javascript" src="/static/frontend/datatables/datatables.min.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
        var systemn_events_table = $('#system-events-table').DataTable( {
            "ajax": "/main/system-events/list",
            "columns": [
              { "data": "id" },
              { "data": "event_type" },
              { "data": "event" },
              { "data": "event_seen" },
              { "data": "registration_timestamp" }
            ],
            "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
              if ( aData.event_type == "error" && aData.event_seen == 0 ) {
                $("td", nRow).css("background-color", "#ad002a");
                $("td", nRow).css("color", "white");
              } else if ( aData.event_type == "warning" && aData.event_seen == 0 ) {
                $("td", nRow).css("background-color", "#e17700");
                $("td", nRow).css("color", "white");
              } else if ( aData.event_type == "success" && aData.event_seen == 0 ) {
                $("td", nRow).css("background-color", "#08ac00");
                $("td", nRow).css("color", "white");
              } else {
                $("td", nRow).css("background-color", "#acacac");
                $("td", nRow).css("color", "white");
              }
            },
            dom: "Bfrtip",
            buttons: [
              "copy", "excel", "pdf"
            ],
            "order": [[ 4, "desc" ]]
        });

        setInterval( function () {
            systemn_events_table.ajax.reload();
        }, 30000 );

        $( document ).on("click", "tr[role='row']", function(){
            var event_id = $(this).children('td:first-child').text();
            $.ajax({
              type: "POST",
              url: "/main/system-events/modify",
              data: {"event_id": event_id},
              dataType: "json",
              success: function(data) {
                  get_new_events_count();
                  systemn_events_table.ajax.reload();
              }
          });
        });
    });

  </script>

{% endblock %}