{% extends "base.html" %}
{% block modal_content %}

  <div class="modal fade" id="host-modify" tabindex="-1" role="dialog" aria-labelledby="host-modify-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="host-modify-label">Modify <label name="hostname" style="font-weight: bolder;"></label> Host</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="host-modify-form" method="POST" action="{{ url_for('clusters_router.modify_host_func') }}">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker form-control" name="status">
                    <option value="" selected disabled>Status</option>
                    <option value="Active">Active</option>
                    <option value="Deactive">Deactive</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker form-control" name="host_group">
                    <option value="" selected disabled>Host Group</option>
                  </select>
                </div>
              </div>
            </div>

            <input type="text" name="host_id" hidden="hidden">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" onclick="delete_host()">Delete Host</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="modify_host('host-modify-form')">Save Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="host-info" tabindex="-1" role="dialog" aria-labelledby="host-info-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="host-info-label">Information About <label name="hostname" style="font-weight: bolder;"></label></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-md-12">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="system-tab" data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="true">System</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nginx-tab" data-toggle="tab" href="#nginx" role="tab" aria-controls="nginx" aria-selected="false">Nginx</a>
                </li>
              </ul>
              <div class="tab-content" id="info-tab-content">
                <div class="tab-pane fade show active" id="system" role="tabpanel" aria-labelledby="system-tab">
                  <div class="row" style="margin-top: 3%;">
                    <div class="col-md-12">
                      <h2 style="font-weight: bolder;">System Objects</h2>
                      <h5 style="font-weight: bolder; margin-top: 2%;">General</h5>
                      <p class="item">Hostname: <label class="item" name="sysobj-hostname"></label></p>
                      <p class="item">Status: <label class="item" name="sysobj-status"></label></p>
                      <p class="item">Last Seen: <label class="item" name="sysobj-last-seen"></label></p>
                      <p class="item">Created: <label class="item" name="sysobj-created"></label></p>
                      <p class="item">Host Group: <label class="item" name="sysobj-host-group"></label></p>
                      <h5 style="font-weight: bolder; margin-top: 2%;">Operating system</h5>
                      <p class="item">Version: <label class="item" name="sysobj-os-version"></label></p>
                      <p class="item">uptime: <label class="item" name="sysobj-os-uptime"></label></p>
                      <h5 style="font-weight: bolder; margin-top: 2%;">Hardware</h5>
                      <p class="item">Hypervisor: <label class="item" name="sysobj-hypervisor"></label></p>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="nginx" role="tabpanel" aria-labelledby="nginx-tab">
                  <div class="row" style="margin-top: 3%;">
                    <div class="col-md-12">
                      <h2 style="font-weight: bolder;">Nginx Objects</h2>
                      <h5 style="font-weight: bolder; margin-top: 2%;">General</h5>
                      <p class="item">Status: <label class="item" name="ngobj-status"></label></p>
                      <p class="item">Packages: <label class="item" name="ngobj-version"></label></p>
                      <p class="item">Amplify Agent Version: <label class="item" name="ngobj-agent-version"></label></p>
                      <p class="item">Amplify Agent UUID: <label class="item" name="ngobj-agent-uuid"></label></p>
                      <p class="item">Stub Status Enabled: <label class="item" name="ngobj-stub-status-enabled"></label></p>
                      <p class="item">Built From Source: <label class="item" name="ngobj-built-from-source"></label></p>
                      <p class="item">Tags: <label class="item" name="ngobj-tags"></label></p>

                      <h5 style="font-weight: bolder; margin-top: 2%;">Configure args</h5>
                      <div id="configure-args-area">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Clusters Dashboard</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="go_to_cluster_configuration()">Cluster Configuration</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs" id="clusters-nav-tabs" role="tablist">

        </ul>

        <div class="tab-content" id="nav-tabs-area">

        </div>
      </div>
    </div>
  </main>

{% endblock %} 

{% block js_content %}

  <script type="text/javascript" src="/static/frontend/js/custom_js/clusters.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
      list_hosts_information();
    })

  </script>

{% endblock %}