{% extends "base.html" %}

{% block css_content %}

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js"></script>

{% endblock %}

{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2"><label class="form-title cluster-name">{{ cluster_namne }}</label> Cluster Configuration</h1>
    </div>

    <input type="text" id="host_group_id" value="{{ host_group_id }}" hidden="hidden">

    <div class="row">
      <div class="col-md-3">
        <div class="nav flex-column nav-pills" id="config-objects-tab" role="tablist" aria-orientation="vertical">

          {% for file_name in host_group_config_info %}

            {% if file_name['config_status'] == "ok" %}
              {% set badge_color = "info" %}
            {% else %}
              {% set badge_color = "danger" %}
            {% endif %}

            {% set changes_pending = "" %}
            {% if file_name["config_update_required"] == 1 %}
              {% set changes_pending = "<span style='float: right; margin-top: 2px;' class='badge badge-pill badge-warning'>Syncing</span>" %}
            {% endif %}

            {% if file_name["config_update_failed"] == 1 %}
              {% set changes_pending = "<span style='float: right; margin-top: 2px;' class='badge badge-pill badge-danger'>Sync Failed</span>" %}
            {% endif %}

            <a class="nav-link" id="config-objects-tab-{{ file_name['id'] }}" data-toggle="pill" href="#config-objects-{{ file_name['id'] }}" role="tab" aria-controls="config-objects-{{ file_name['id'] }}" aria-selected="true">{{ file_name['config_file'] }} <span style="float: right; margin-top: 2px;" class="badge badge-pill badge-{{ badge_color }}">{{ file_name['config_status'] }}</span> {{ changes_pending|safe }}</a>

          {% endfor %}

        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content" id="config-objects-tab-content">

          {% for config_object in host_group_config_info %}

            {% if config_object['config_status'] == "ok" %}
              {% set text_color = "green" %}
            {% else %}
              {% set text_color = "red" %}
            {% endif %}

            <div class="tab-pane fade box" id="config-objects-{{ config_object['id'] }}" role="tabpanel" aria-labelledby="config-objects-tab">
              <div class="row">

                <div class="col-md-4">
                  <h3>General Information</h3><br>
                  <label class="config-item">Config Status: <label class="form-title config-item" style="color: {{ text_color }};">{{ config_object['config_status'] }}</label></label><br>
                  <label class="config-item">Config File Name: <label class="form-title config-item">{{ config_object['config_file'] }}</label></label><br>
                  <label class="config-item">Last Modified: <label class="form-title config-item">{{ timestamp_converter(config_object['config_file_modify_time']) }}</label></label><br>
                  <label class="config-item">Total Lines: <label class="form-title config-item">{{ config_object['config_file_lines'] }}</label></label><br>

                  {% if config_object["config_errors"]|length > 0 %}
                    {% set errors = config_object["config_errors"].split(';') %}

                    <h3>Erros</h3>
                    <ul>
                          
                      {% for error in errors %}

                        <li class="error-text">{{ error }}</li>

                      {% endfor %}

                    </ul>

                  {% endif %}
                </div>

                <div class="col-md-8 editor" id="editor-{{ config_object['id'] }}">{{ config_object['config_content']|safe }}</div>
                <script type="text/javascript">
                  var editor_{{ config_object['id'] }} = ace.edit("editor-{{ config_object['id'] }}");
                  editor_{{ config_object['id'] }}.setTheme("ace/theme/monokai");
                  editor_{{ config_object['id'] }}.session.setMode("ace/mode/nginx");
                  editor_{{ config_object['id'] }}.setHighlightActiveLine(true);
                  editor_{{ config_object['id'] }}.session.setUseWrapMode(true);
                  var modified_{{ config_object['id'] }} = 'ace-changed'; // css class
                  editor_{{ config_object['id'] }}.on('change', function(e) {
                    var activeLine = e.start.row;
                    if (e.action == "insert") {
                      while (activeLine < (e.end.row+1)) {
                        editor_{{ config_object['id'] }}.session.removeGutterDecoration(activeLine, modified_{{ config_object['id'] }});
                        editor_{{ config_object['id'] }}.session.addGutterDecoration(activeLine, modified_{{ config_object['id'] }});
                        activeLine++;
                      }
                    } else if (e.action == "remove") {
                      while (activeLine < (e.end.row+1)) {
                        editor_{{ config_object['id'] }}.session.removeGutterDecoration(activeLine, modified_{{ config_object['id'] }});
                        activeLine++;
                      }
                      editor_{{ config_object['id'] }}.session.addGutterDecoration(e.start.row, modified_{{ config_object['id'] }});
                    }
                  });
                </script>

              </div>

              <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-info" style="float: right; margin-top: 5px; width: 100%;" onclick="modify_cluster_config('{{ config_object['id'] }}')">Save Config</button>
              </div>
            </div>

          {% endfor %}
          
        </div>
      </div>
    </div>
  </main>

{% endblock %} 

{% block js_content %}

  <script type="text/javascript" src="/static/frontend/js/custom_js/clusters.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
      $("#config-objects-tab a:first").tab("show");
    });

  </script>

{% endblock %}