{% extends "base.html" %}
{% block modal_content %}

  
  <div class="modal fade" id="agent-api-key-create" tabindex="-1" role="dialog" aria-labelledby="agent-api-key-create-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agent-api-key-create-label">New Agent API Key</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="agent-api-key-create-form" method="POST" action="{{ url_for('admin_router.create_agent_api_key_func') }}">
            <div class="form-group">
              <input type="text" class="form-control" name="alias" placeholder="API key alias">
            </div>
            <div class="form-group">
              <input type="text" data-role="tagsinput" name="ip_address_pool" placeholder="IP addresses for use">
            </div>
          </form>
          <div id="success-message" style="display: none;">
            <h4 style="color: green;">Success</h4>
            <p id="api-key" style="color: red;"></p>
            <p id="success-message-note" style="font-weight: bolder;"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="create_agent_api_key('agent-api-key-create-form')">Create Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="agent-api-key-modify" tabindex="-1" role="dialog" aria-labelledby="agent-api-key-modify-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="agent-api-key-modify-label">Modify <label name="alias" style="font-weight: bolder;"></label> Agent API Key</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="agent-api-key-modify-form" method="POST" action="{{ url_for('admin_router.modify_agent_api_key_func') }}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" data-role="tagsinput" name="ip_address_pool" placeholder="IP addresses for use">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker" name="status">
                    <option value="" selected disabled>Status</option>
                    <option value="Active">Active</option>
                    <option value="Deactive">Deactive</option>
                  </select>
                </div>
              </div>
            </div>

            <input type="text" name="api_key_id" hidden="hidden">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" onclick="delete_agent_api_key()">Delete API Key</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="modify_agent_api_key('agent-api-key-modify-form')">Save Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="host-group-create" tabindex="-1" role="dialog" aria-labelledby="host-group-create-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="host-group-create-label">New Host Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="host-group-create-form" method="POST" action="{{ url_for('admin_router.create_host_group_func') }}">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" name="alias" placeholder="Host group alias">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker" name="is_default">
                    <option value="" selected disabled>Is default?</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="create_host_group('host-group-create-form')">Create Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="host-group-modify" tabindex="-1" role="dialog" aria-labelledby="host-group-modify-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="host-group-modify-label">Modify <label name="alias" style="font-weight: bolder;"></label> Host Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="host-group-modify-form" method="POST" action="{{ url_for('admin_router.modify_host_group_func') }}">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" name="alias" placeholder="Host group alias">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker" name="status">
                    <option value="" selected disabled>Status</option>
                    <option value="Active">Active</option>
                    <option value="Deactive">Deactive</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker" name="is_default">
                    <option value="" selected disabled>Status</option>
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                  </select>
                </div>
              </div>
            </div>

            <input type="text" name="host_group_id" hidden="hidden">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" onclick="delete_host_group()">Delete Host Group</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="modify_host_group('host-group-modify-form')">Save Now</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="user-create" tabindex="-1" role="dialog" aria-labelledby="user-create-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user-create-label">New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="user-create-form" method="POST" action="{{ url_for('admin_router.create_user_func') }}">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" placeholder="E-mail">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="first_name" placeholder="First name">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="last_name" placeholder="Last name">
              </div>
              <div class="form-group col-md-4">
                  <select class="selectpicker" name="user_role">
                    <option value="" selected disabled>User role</option>
                  </select>
                </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="create_user('user-create-form')">Create Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="user-modify" tabindex="-1" role="dialog" aria-labelledby="user-modify-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="user-modify-label">Modify User <label name="username" style="font-weight: bolder;"></label></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="user-modify-form" method="POST" action="{{ url_for('admin_router.modify_user_func') }}">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker" name="status">
                    <option value="" selected disabled>Status</option>
                    <option value="Active">Active</option>
                    <option value="Deactive">Deactive</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <select class="selectpicker" name="user_role">
                    <option value="" selected disabled>User Role</option>
                  </select>
                </div>
              </div>

            </div>

            <input type="text" name="user_id" hidden="hidden">
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" onclick="delete_user()">Delete User</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info" onclick="modify_user('user-modify-form')">Save Now</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Settings</h1>
      <div class="btn-toolbar mb-2 mb-md-0" style="display: none;">
        <div class="btn-group mr-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
          <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          This week
        </button>
      </div>
    </div>

    <ul class="nav nav-tabs" id="settings-page-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="system-tab" data-toggle="tab" href="#system" role="tab" aria-controls="system" aria-selected="true">System</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users" aria-selected="false">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pages-tab" data-toggle="tab" href="#pages" role="tab" aria-controls="pages" aria-selected="false">Pages</a>
      </li>
    </ul>
    <div class="tab-content" id="settings-page-tab-contents">
      <div class="tab-pane fade show active" id="system" role="tabpanel" aria-labelledby="system-tab">
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h4">Agent API Keys</h1>
              <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#agent-api-key-create">
                <span data-feather="plus-square"></span>
                Create New
              </button>
            </div>

            <table class="table table-hover" id="agent-api-key-information-table">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Alias</th>
                  <th>Created</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h4">Host Groups</h1>
              <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#host-group-create">
                <span data-feather="plus-square"></span>
                Create New
              </button>
            </div>

            <table class="table table-hover" id="host-group-information-table">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Alias</th>
                  <th>Created</th>
                  <th>Host Count</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
        <div class="row">
          <div class="col-md-12">
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h4">Users</h1>
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="open_user_create()">
                  <span data-feather="plus-square"></span>
                  Create New
                </button>
              </div>

              <table class="table table-hover" id="user-information-table">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>E-Mail</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Created</th>
                    <th>Role</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <div class="tab-pane fade" id="pages" role="tabpanel" aria-labelledby="pages-tab">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h4">Pages</h1>
              </div>

              <table class="table table-hover" id="pages-information-table">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Access Groups</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

{% endblock %} 

{% block js_content %}

  <script type="text/javascript" src="/static/frontend/js/custom_js/admin.settings.js"></script>
  <script type="text/javascript">
    
    $(document).ready(function() {
      list_agent_api_key_information();
      list_host_group_information();
      list_user_information();
      list_page_information();
    })

  </script>

{% endblock %}