.box {
  transition: box-shadow .5s;
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius:10px;
  border: 1px solid #ccc;
  background: #fff;
  float: left;
  padding: 10px;
}
.box:hover {
  box-shadow: 0 0 20px rgba(33,33,33,.2); 
}
.clusters-header {
	font-weight: bolder;
}
.nav-link {
	color: #939393;
	font-weight: bold;
}
.nav-link:hover {
	color: black;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #939393;
}
.item {
	margin: 0px;
	font-size: 16px;
}
.config-item {
  display: contents !important;
  margin: 0px;
}
.form-title {
  font-weight: bold;
}
.loading-image {
  width: 100%;
  height: 100%;;
  position: absolute;
  z-index: 9999;
  opacity: 0.5;
  display: none;
}
.profile-link:hover {
  color: rgba(255,255,255,.7);
}
.error-text {
  color: red;
  font-weight: bold;
}
.editor {
  max-width: 65% !important;
  height: 750px;
}
.page-link { 
  color: black;
  border-color: #939393;
}
.pagination .page-item.active .page-link { 
  background-color: #939393; 
  border-color: #939393;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  background-color: #939393;
  border-color: #939393;
}
.pagination .page-item.active .page-link:hover {
  background-color: #939393;
  border-color: #939393;
}
#system-events-table tr:hover {
  cursor: pointer;
}
.ace-changed {
  border-left: #FCAF3E 3px solid;
}