<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>{{ page_title }}</title>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/static/frontend/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/frontend/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form id="sign-in-form" class="form-signin" method="POST" action="{{ url_for('auth_router.user_login') }}">
      <img class="mb-4" src="{{ project_logo }}" alt="" width="300" height="200">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="user_email_or_username" class="sr-only">Email address</label>
      <input type="text" id="user_email_or_username" name="user_email_or_username" class="form-control" placeholder="Email address or Username" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-info btn-block" type="button" onclick="sign_in('sign-in-form')">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; {{ footer_text }}</p>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/custom_js/sign.in.js"></script>
    <script type="text/javascript">
      
      {% if account_status_changed_sign %}
        swal({
            position: 'top-end',
            icon: "warning",
            title: "Your account modified. You have to login again.",
            timer: 5000
        });
      {% endif %}

    </script>
  </body>
</html>
